{% extends 'base.html' %}

{% block content %}
<body>
    <div class="nav">
        <div id="title">
            <h1 class="page_title parkinsans_font">To Do List </h1>
            <h3 class="grey">By Sam Pope</h3>
        </div>
        

        {% if message %}
            <h2 id="error_message" class="parkinsans_font">{{message}}</h2>   
        {% endif %}

        <form action="/add" method="post">
        <div>
            <button id="form_button" type="submit" class="parkinsans_font">Add a Task</button>
            <input id="form_field" type="text" name="task" placeholder="Enter a Task" class="parkinsans_font">
        </div>
        </form>
    </div>

    <hr>

    {% for todo in todo_list %}
    <div id="task">
        {% if todo.complete == False %}
            <a class="button_style_2" href='/update/{{todo.id}}'></a>
        {% else %}
            <a class="button_style_3" href='/update/{{todo.id}}'></a>
        {% endif %}
        <p id="task_content" class="large_font"><b>{{todo.id}}</b>  : {{todo.task}}</p>
        <div class="flex">
        
        <p><a class="button_style_1 large_font" href="/delete/{{todo.id}}">Delete</a></p>
        </div>
    </div>
    {% endfor %}
</body>
{% endblock %}